
:root{

    --primary-color: #112B3C;
    --secondary-color: #EC994B;
    --light-color: #EFEFEF;
    
    --main-font: 'Quicksand', sans-serif;
}

body{
    scroll-behavior: smooth;
}
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/*  General settings*/

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

i{
    margin:10px;
}

/* header nav */

header{
    display:flex;
    justify-content: space-between;
    padding:10px;
    background:var(--primary-color);
}

.logo{
    color: var(--secondary-color);
   font-size: 20px; 
   line-height: 50px;
}

.menu-icon{
    text-align: right;
    color: var(--light-color);
    cursor: pointer;
    font-size: 25px;
}

.nav-list{
    display: none;
    padding: 10px;
}

.active-nav{
    display: block;

}
.nav-list li{
   margin-bottom:10px;
   
}
.nav-list li a{
   color:var(--secondary-color);
   font-weight: 600;
}


/* about artist */

.artist-fav-quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.artist-fav-quote{
    padding: 20px;
    text-align:center;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
  
}

.artist-photo-container{
    max-width: 100%;
    padding: 10px 20px;
}

.artist-photo{
    width: 100%;
}


.personal-info{
    text-align: justify;
    padding: 10px;
}
/* OFFERS */
.offers{
    padding: 10px;
}

.offers p{
    font-weight: 600;
}

.offers-list{
    padding: 10px;
}


/* contacts */

.contacts{
    padding:10px;
}

.contacts p{
    font-weight: 600;
}
.fb-icon{
    color: blue;
}

.email-icon{
    color: red;
}

/* gallery */

.gallery-container{
    position: relative;
    padding: 10px;
}

.brush-icon{
    color:var(--secondary-color);
}
.gallery-container p{
    font-weight: 600;
}

.tab-samples{
    display: flex;
    width:100%;
    padding: 10px;
}

.portraits-tab, .paintings-tab{
    width:50%;
    font-weight: 600;
    text-align: center;
    padding:10px;
    border: 1px solid var(--primary-color);
    letter-spacing: 5px;
}

.active-tab{
    background-color: var(--primary-color);
    color : var(--secondary-color);
}

.portraits-list, .paintings-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
   
}

.paintings-list{
    display: none;
}


.portrait-item, .painting-item{
    width: 50%;
    padding:10px;
   
}

.portrait-item img, .painting-item img{
    width: 100%;
    cursor:pointer;
    border: 1px solid #ccc;

}

.full-image-modal{
    width: 100%;
    min-height: 100vh;
    background-color:#282A35;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: none;
    z-index: 99;
}

.full-image{
    width: 100%;
    max-height: 80vh;

}

.close-full-image-modal{
    color: red;
    font-size: 30px;
    float: right;
}




/* go up button */

#go--up-btn{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    outline: 0;
    border: 0;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--secondary-color);
}